.header-weather {
    color: white;
    font-size: 40px;
    font-weight: 700;
    height: 60px;
    padding: 10px;
    text-align: end;
    text-shadow: 2px 2px 2px orange;
  }
  
  .header-weather__place {
    font-size: 28px;
    font-weight: 600;
  }